/*=============================================
=            css variables            =
=============================================*/

/*=============================================
=            scrollbar            =
=============================================*/
html {
  height: 100%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  overflow-x: hidden;
}
* {
  scrollbar-color: var(--clr-pink) var(--clr-gray--very-dark);
}
*::-webkit-scrollbar {
  width: 10px;
}
*:not(textarea)::-webkit-scrollbar-track {
  background: var(--clr-gray--very-dark);
}
*::-webkit-scrollbar-thumb {
  background: var(--clr-pink);
  border-radius: 3rem;
}

/*=============================================
=            global            =
=============================================*/

body {
  font-family: var(--ff-primary);
  height: 100%;
  overflow-x: hidden;
}
*::selection {
  background: var(--clr-green);
  color: var(--clr-white);
}
