/*=============================================
=            components            =
=============================================*/
/*----------  Container  ----------*/
.container {
  padding: var(--spacing-md) var(--spacing-sm);
  margin: 0 auto;
  max-width: 1200px;
}

@media (min-width: 768px) {
  .container {
    padding: var(--spacing-md);
  }
}

@media (min-width: 1000px) {
  .container {
    padding: var(--spacing-md);
  }
}

@media (min-width: 1200px) {
  .container {
    padding: var(--spacing-lg);
  }
}

@media (min-width: 1440px) {
  .container {
    padding: var(--spacing-xl);
  }
}

/*----------  NavLink  ----------*/
.nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-xs);
  text-transform: capitalize;
  font-weight: var(--fw-md);
}

.nav__link__icon--left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.nav__link.header__link {
  font-size: var(--fs-sm);
  color: var(--clr-white);
}

@media (min-width: 768px) {
  .nav__link.header__link {
    color: var(--clr-gray--very-dark);
  }
}

.nav__link.header__link:hover, .nav__link.header__link:focus {
  color: var(--clr-pink);
}

.nav__link.header__link.active {
  color: var(--clr-purple);
}

.nav__link.footer__link {
  font-size: var(--fs-xs);
  color: var(--clr-white);
}

.nav__link.footer__link:hover, .nav__link.footer__link:focus {
  color: var(--clr-pink);
}

.nav__link.footer__link:hover svg #repo, .nav__link.footer__link:focus svg #repo {
  fill: var(--clr-pink);
}

/*----------  Logo  ----------*/
.logo {
  max-inline-size: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-xs);
  font-size: var(--fs-md);
  font-weight: var(--fw-md);
  color: var(--clr-black);
}

.logo__text--light {
  color: var(--clr-white);
}

/*----------  Icon  ----------*/
/*----------  GifModal  ----------*/
.gif-modal {
  position: fixed;
  width: 90vw;
  max-width: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 6px;
  overflow: hidden;
  z-index: var(--z-modal);
}

.gif-modal img {
  max-width: 100%;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.gif-modal__header {
  background: var(--clr-green);
  width: 100%;
}

.gif-modal .btn {
  color: var(--clr-white);
}

.gif-modal__overlay {
  position: fixed;
  inset: 0;
  background: var(--clr-black);
  opacity: 0.9;
  z-index: var(--z-modal);
}

/*----------  Button  ----------*/
.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: var(--spacing-sm) var(--spacing-xs);
  border: 0;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--spacing-xs);
  max-inline-size: 200px;
  font-size: var(--fs-xs);
  font-weight: var(--fw-md);
  -webkit-tap-highlight-color: transparent;
}

.btn.btn__icon--right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.btn:hover, .btn:focus {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn--primary {
  background: var(--clr-purple);
  color: var(--clr-white);
}

.btn--secondary {
  -webkit-box-shadow: inset 0 0 0 2px var(--clr-purple);
          box-shadow: inset 0 0 0 2px var(--clr-purple);
  color: var(--clr-purple);
}

/*----------  ButtonsGroup  ----------*/
.btns-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--spacing-sm);
}

.btns-group > .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.btns-group--col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*----------  Header  ----------*/
header {
  position: relative;
  /*----------  NavMenu  ----------*/
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-after: unset;
          padding-block-end: unset;
}

@media (min-width: 1000px) {
  header .container .btn {
    display: none;
    opacity: 0;
  }
}

header .header__menu__icon {
  font-size: 2rem;
}

header .header__nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: var(--clr-green);
  padding: var(--spacing-md);
  z-index: var(--z-top);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .header__nav.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .header__nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-md);
}

@media (min-width: 1000px) {
  header .header__nav {
    position: unset;
    padding: unset;
    background: transparent;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: unset;
    transition: unset;
  }
  header .header__nav .header__nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/*----------  PluginCard  ----------*/
.plugin-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-md);
  -webkit-box-shadow: var(--shadow-card);
          box-shadow: var(--shadow-card);
  background: var(--clr-gray--light);
  border-radius: 6px;
  overflow: hidden;
  padding-top: var(--spacing-md);
  max-width: 340px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.plugin-card > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.plugin-card:hover, .plugin-card:focus {
  -webkit-box-shadow: var(--shadow-card--hover);
          box-shadow: var(--shadow-card--hover);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.plugin-card__text {
  text-align: center;
}

.plugin-card__text--title {
  font-size: var(--fs-h1);
  -webkit-margin-after: var(--spacing-sm);
          margin-block-end: var(--spacing-sm);
}

.plugin-card__text--description {
  font-size: var(--fs-xs);
  padding-inline: var(--spacing-sm);
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plugin-card__icon {
  inline-size: 80px;
  block-size: 80px;
}

.plugin-card .btns-group {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  padding-inline: var(--spacing-sm);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.plugin-card__footer {
  background: var(--clr-green);
  width: 100%;
  text-align: center;
  color: var(--clr-white);
}

/*----------  PluginCards  ----------*/
.plugins-cards {
  background: var(--clr-purple);
}

.plugins-cards .container {
  display: -ms-grid;
  display: grid;
  gap: var(--spacing-md);
  place-items: center;
}

.plugins-cards__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--spacing-md);
}

.plugins-cards__title {
  grid-column: 1/-1;
  font-size: var(--fs-lg);
  font-weight: var(--fw-lg);
  color: var(--clr-white);
}

/*----------  SocialsMenu  ----------*/
.footer__social-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: var(--spacing-sm);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-menu .nav__link {
  position: relative;
  isolation: isolate;
  display: -ms-inline-grid;
  display: inline-grid;
      grid-template-areas: 'icon';
  place-items: center;
}

.footer__social-menu .nav__link:hover svg,
.footer__social-menu .nav__link :focus svg {
  stroke: var(--clr-pink);
}

.footer__social-menu .nav__link svg {
  stroke: var(--clr-white);
  inline-size: 16px;
  block-size: 16px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
}

.footer__social-menu .nav__link::before {
  content: '';
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
  inline-size: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--clr-gray--very-dark);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  z-index: var(--z-behind);
}

/*----------  Form  ----------*/
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing-md);
  width: 80%;
  caret-color: var(--clr-purple);
}

.form__input-container {
  position: relative;
}

.form__input-container.input-error input,
.form__input-container.input-error textarea {
  border-color: var(--clr-red);
}

.form__input-container.input-error .error {
  text-align-last: left;
  padding: var(--spacing-xs);
  color: var(--clr-red);
}

.form__input-container label {
  position: absolute;
  top: var(--spacing-xs);
  left: var(--spacing-xs);
  text-transform: lowercase;
  color: var(--clr-gray--dark);
  font-size: var(--fs-sm);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  pointer-events: none;
}

.form__input-container label::first-letter {
  text-transform: uppercase;
}

.form__input-container input,
.form__input-container textarea {
  width: 100%;
  border: 1px solid var(--clr-gray--very-dark);
  border-radius: 6px;
  padding: var(--spacing-xs);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: var(--fs-sm);
}

.form__input-container input:not(:placeholder-shown) + label,
.form__input-container textarea:not(:placeholder-shown) + label {
  background-color: var(--clr-white);
  font-size: var(--fs-xs);
  -webkit-transform: translateY(calc(-1 * var(--fs-xs) - 0.2rem));
          transform: translateY(calc(-1 * var(--fs-xs) - 0.2rem));
  color: var(--clr-gray--very-dark);
}

.form__input-container input:hover, .form__input-container input:focus,
.form__input-container textarea:hover,
.form__input-container textarea:focus {
  border-color: var(--clr-green);
  -webkit-box-shadow: 0 0 0 1px var(--clr-green);
          box-shadow: 0 0 0 1px var(--clr-green);
}

.form__input-container textarea {
  height: 10ch;
  resize: none;
}

.form .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
}

/*=============================================
=            Blocks            =
=============================================*/
/*----------  Main  ----------*/
.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing-md);
  position: relative;
}

@media (min-width: 550px) {
  .main .container {
    gap: var(--spacing-lg);
  }
}

.main__plugin-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--spacing-sm);
}

.main__plugin-icons svg {
  inline-size: 10vmin;
  block-size: 10vmin;
  min-inline-size: 48px;
  min-block-size: 48px;
}

@media (min-width: 550px) {
  .main .btns-group--col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.main__text {
  text-align: center;
}

.main__text--title {
  font-size: var(--fs-display--main);
  text-transform: unset;
  font-weight: var(--fw-xl);
  -webkit-margin-after: var(--spacing-md);
          margin-block-end: var(--spacing-md);
}

.main__text--title svg:nth-of-type(1) {
  stroke: var(--clr-purple);
  -webkit-margin-end: -4px;
          margin-inline-end: -4px;
}

.main__text--title svg:nth-of-type(2) {
  fill: var(--clr-pink);
}

.main__text--title span {
  display: inline-block;
}

.main__text--title span::first-letter {
  color: var(--clr-green);
}

.main__text--subtitle {
  font-size: var(--fs-display--subtitle);
  color: var(--clr-gray--dark);
  font-weight: var(--fw-lg);
}

.main__text--subtitle span:nth-of-type(1) {
  color: var(--clr-purple);
}

.main__text--subtitle span:nth-of-type(2) {
  color: var(--clr-pink);
}

.main__text--subtitle span:nth-of-type(3) {
  color: var(--clr-green);
}

/*----------  Return  ----------*/
.return {
  background: var(--clr-gray--light);
}

.return .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing-md);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.return__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-lg);
  color: var(--clr-green);
}

.return__text {
  line-height: 1.6;
  font-size: var(--fs-sm);
}

.return span {
  display: block;
  -webkit-margin-before: var(--spacing-sm);
          margin-block-start: var(--spacing-sm);
  font-weight: var(--fw-lg);
}

.return .nav__link {
  color: var(--clr-purple);
  font-weight: var(--fw-lg);
  font-size: var(--fs-md);
}

.return .nav__link:hover, .return .nav__link:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*----------  NewIdea  ----------*/
.new-idea .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing-md);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 1000px) {
  .new-idea .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .new-idea .container > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.new-idea img {
  max-width: 100%;
}

.new-idea .new__idea__pre,
.new-idea .new-idea__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-md);
}

.new-idea__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-lg);
  color: var(--clr-black);
}

.new-idea__subtitle {
  font-size: var(--fs-md);
  font-weight: var(--fw-lg);
  color: var(--clr-purple);
}

/*----------  Footer  ----------*/
footer {
  background: var(--clr-gray--very-dark);
}

footer .container {
  display: -ms-grid;
  display: grid;
  gap: var(--spacing-md);
}

@media (min-width: 768px) {
  footer .container {
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
    justify-items: center;
  }
}

footer .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing-sm);
}

footer .footer__info__rights, footer .footer__info__email {
  font-size: 0.8rem;
  color: var(--clr-white);
}

footer .footer__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--spacing-md);
}

footer .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing-sm);
}

footer .footer__menu__title {
  text-transform: capitalize;
  color: var(--clr-green);
  font-size: 1rem;
}

footer .footer__menu .nav__link svg {
  block-size: 16px;
  inline-size: 16px;
}
/*# sourceMappingURL=App.css.map */