/*=============================================
=            components            =
=============================================*/
@mixin responsive-screen($breakpoint) {
  @if ($breakpoint== sm) {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if ($breakpoint== md) {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if ($breakpoint== lg) {
    @media (min-width: 1440px) {
      @content;
    }
  }
}

/*----------  Container  ----------*/
.container {
  padding: var(--spacing-md) var(--spacing-sm);
  margin: 0 auto;
  max-width: 1200px;
  @include responsive-screen(sm) {
    padding: var(--spacing-md);
  }
  @include responsive-screen(md) {
    padding: var(--spacing-lg);
  }
  @include responsive-screen(lg) {
    padding: var(--spacing-xl);
  }
}

/*----------  NavLink  ----------*/
.nav__link {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xs);
  text-transform: capitalize;
  font-weight: var(--fw-md);
  &__icon--left {
    flex-direction: row-reverse;
  }

  &.header__link {
    font-size: var(--fs-sm);
    color: var(--clr-white);
    @include responsive-screen(sm) {
      color: var(--clr-gray--very-dark);
    }
    &:hover,
    &:focus {
      color: var(--clr-pink);
    }
    &.active {
      color: var(--clr-purple);
    }
  }
  &.footer__link {
    font-size: var(--fs-xs);
    color: var(--clr-white);
    &:hover,
    &:focus {
      color: var(--clr-pink);
    }
  }
}

/*----------  Logo  ----------*/
.logo {
  max-inline-size: 100%;
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xs);
  font-size: var(--fs-md);
  font-weight: var(--fw-md);
  color: var(--clr-black);

  &__text--light {
    color: var(--clr-white);
  }
}

/*----------  Icon  ----------*/

/*----------  GifModal  ----------*/
.gif-modal {
  position: fixed;
  width: 90vw;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  overflow: hidden;
  //! check why it doesn't work on the image
  z-index: var(--z-modal);
  img {
    max-width: 100%;
  }
  &__header {
    background: var(--clr-green);
    width: 100%;
  }
  .btn {
    color: var(--clr-white);
  }
}
.gif-modal__overlay {
  position: fixed;
  inset: 0;
  background: var(--clr-black);
  opacity: 0.9;
  z-index: var(--z-modal);
}
/*----------  Button  ----------*/
.btn {
  appearance: none;
  padding: var(--spacing-xs);
  border: 0;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  max-inline-size: 200px;
  &.btn__icon--right {
    flex-direction: row-reverse;
  }
}
.btn--primary {
  background: var(--clr-purple);
  color: var(--clr-white);
}
.btn--secondary {
  box-shadow: inset 0 0 2px var(--clr-purple);
  color: var(--clr-purple);
}

/*----------  ButtonsGroup  ----------*/

.btns-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
}
.btns-group > .btn {
  flex: 1;
  width: 100%;
}
.btns-group--col {
  flex-direction: column;
}

/*----------  Header  ----------*/

header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // padding: var(--spacing-sm);
  position: relative;
  .header__menu__icon {
    font-size: 2rem;
  }

  /*----------  NavMenu  ----------*/

  nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: var(--clr-green);
    padding: var(--spacing-md);
    z-index: var(--z-top);
    &.large-screen {
      position: unset;
      padding: unset;
      background: transparent;
      .header__nav__menu {
        flex-direction: row;
      }
    }
    .header__nav__menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-md);
    }
  }
}

/*----------  PluginCard  ----------*/
.plugin-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
  box-shadow: var(--shadow--card);
  background: var(--clr-gray--light);
  border-radius: 6px;
  overflow: hidden;
  padding-top: var(--spacing-md);

  &__text {
    text-align: center;

    &--title {
      font-size: var(--fs-h1);

      margin-block-end: var(--spacing-sm);
    }
    &--description {
      line-height: 1.4;
      font-size: var(--fs-xs);
      padding-inline: var(--spacing-sm);
    }
  }
  &__icon {
    inline-size: 80px;
    block-size: 80px;
  }

  .btns-group {
    align-self: stretch;
    padding-inline: var(--spacing-sm);
  }
  &__footer {
    background: var(--clr-green);
    width: 100%;
    text-align: center;
    color: var(--clr-white);
  }
}

/*----------  PluginCards  ----------*/
.plugins-cards {
  background: var(--clr-purple);
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--spacing-md);
    place-items: center;
  }
  &__title {
    grid-column: 1/-1;
    font-size: var(--fs-lg);
    font-weight: var(--fw-lg);
    color: var(--clr-white);
  }
}

/*----------  SocialsMenu  ----------*/
.footer__social-menu {
  display: inline-flex;
  gap: var(--spacing-sm);

  align-items: center;

  .nav__link {
    position: relative;
    isolation: isolate;
    display: inline-grid;
    grid-template-areas: 'icon';
    place-items: center;
    &:hover,
    :focus {
      svg {
        stroke: var(--clr-pink);
      }
    }
    svg {
      stroke: var(--clr-white);
      inline-size: 16px;
      block-size: 16px;
      grid-area: icon;
    }
    &::before {
      content: '';
      grid-area: icon;
      inline-size: 2rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background: var(--clr-gray--very-dark);
      filter: brightness(80%);
      z-index: var(--z-behind);
    }
  }
}

/*=============================================
=            Blocks            =
=============================================*/

/*----------  Main  ----------*/

.main {
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding-block-start: unset;
  }

  svg:nth-of-type(1) {
    top: 60%;
    left: 4%;
    transform: rotate(-10deg);
  }
  svg:nth-of-type(2) {
    top: 0;
    right: 10%;
    transform: rotate(10deg);
  }
  svg:nth-of-type(3) {
    top: 100%;
    right: 10%;
    transform: rotate(8deg);
  }
  svg:nth-of-type(4) {
    top: 0;
    left: 5%;
    transform: rotate(-10deg);
  }
  svg:nth-of-type(5) {
    top: 60%;
    right: 4%;
    transform: rotate(5deg);
  }
  &__icon {
    position: absolute;
    inline-size: 15vmin;
    block-size: 15vmin;
    z-index: var(--z-behind);
  }
  &__text {
    text-align: center;
    &--title {
      font-size: var(--fs-display--main);

      font-weight: var(--fw-xl);
    }
    &--subtitle {
      font-size: var(--fs-display--subtitle);
      color: var(--clr-gray--dark);
      font-weight: var(--fw-lg);
      span:nth-of-type(1) {
        color: var(--clr-purple);
      }
      span:nth-of-type(2) {
        color: var(--clr-pink);
      }
      span:nth-of-type(3) {
        color: var(--clr-green);
      }
    }
  }
}

/*----------  Return  ----------*/

.return {
  background: var(--clr-gray--light);
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: center;
    text-align: center;
  }

  &.btn {
    align-self: stretch;
  }
}

/*----------  NewIdea  ----------*/

.new-idea {
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: center;
    text-align: center;
  }

  &.btn {
    align-self: stretch;
  }
  &__title {
    font-size: 1rem;
  }
  &__subtitle {
    font-size: 0.8rem;
    color: var(--clr-purple);
  }
  &__icon {
    inline-size: 80px;
    block-size: 80px;
  }
}

/*----------  Footer  ----------*/

footer {
  background: var(--clr-gray--very-dark);
  .container {
    display: grid;
    gap: var(--spacing-md);
    @include responsive-screen(sm) {
      grid-template-columns: auto 1fr;
    }
  }
  .footer__info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
  }
  .rights {
    font-size: 0.8rem;
    color: var(--clr-white);
  }
  .footer__menus {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-md);
  }
  .footer__menu {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    &__title {
      text-transform: capitalize;
      color: var(--clr-green);
      font-size: 1rem;
    }
    .nav__link {
      svg {
        block-size: 16px;
        inline-size: 16px;
      }
    }
  }
}
