/*=============================================
=            components            =
=============================================*/
@mixin responsive-screen($breakpoint) {
  @if ($breakpoint== xs) {
    @media (min-width: 550px) {
      @content;
    }
  }
  @if ($breakpoint== sm) {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if ($breakpoint== md) {
    @media (min-width: 1000px) {
      @content;
    }
  }
  @if ($breakpoint== lg) {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if ($breakpoint== xl) {
    @media (min-width: 1440px) {
      @content;
    }
  }
  @if ($breakpoint== xxl) {
    @media (min-width: 1900px) {
      @content;
    }
  }
}

/*----------  Container  ----------*/
.container {
  padding: var(--spacing-md) var(--spacing-sm);
  margin: 0 auto;
  max-width: 1200px;
  @include responsive-screen(sm) {
    padding: var(--spacing-md);
  }
  @include responsive-screen(md) {
    padding: var(--spacing-md);
  }
  @include responsive-screen(lg) {
    padding: var(--spacing-lg);
  }
  @include responsive-screen(xl) {
    padding: var(--spacing-xl);
  }
}

/*----------  NavLink  ----------*/
.nav__link {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xs);
  text-transform: capitalize;
  font-weight: var(--fw-md);
  &__icon--left {
    flex-direction: row-reverse;
  }

  &.header__link {
    font-size: var(--fs-sm);
    color: var(--clr-white);
    @include responsive-screen(sm) {
      color: var(--clr-gray--very-dark);
    }
    &:hover,
    &:focus {
      color: var(--clr-pink);
    }
    &.active {
      color: var(--clr-purple);
    }
  }
  &.footer__link {
    font-size: var(--fs-xs);
    color: var(--clr-white);
    &:hover,
    &:focus {
      color: var(--clr-pink);
    }
  }
}

/*----------  Logo  ----------*/
.logo {
  max-inline-size: 100%;
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xs);
  font-size: var(--fs-md);
  font-weight: var(--fw-md);
  color: var(--clr-black);

  &__text--light {
    color: var(--clr-white);
  }
}

/*----------  Icon  ----------*/

/*----------  GifModal  ----------*/
.gif-modal {
  position: fixed;
  width: 90vw;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  overflow: hidden;
  //! check why it doesn't work on the image
  z-index: var(--z-modal);
  img {
    max-width: 100%;
  }
  &__header {
    background: var(--clr-green);
    width: 100%;
  }
  .btn {
    color: var(--clr-white);
  }
}
.gif-modal__overlay {
  position: fixed;
  inset: 0;
  background: var(--clr-black);
  opacity: 0.9;
  z-index: var(--z-modal);
}
/*----------  Button  ----------*/
.btn {
  appearance: none;
  padding: var(--spacing-sm) var(--spacing-xs);
  border: 0;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  max-inline-size: 200px;
  font-size: var(--fs-xs);
  font-weight: var(--fw-md);
  &.btn__icon--right {
    flex-direction: row-reverse;
  }
  &:hover,
  &:focus {
    filter: brightness(95%);
    transform: scale(1.05);
  }
}
.btn--primary {
  background: var(--clr-purple);
  color: var(--clr-white);
}
.btn--secondary {
  box-shadow: inset 0 0 0 2px var(--clr-purple);
  color: var(--clr-purple);
}

/*----------  ButtonsGroup  ----------*/

.btns-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
}
.btns-group > .btn {
  flex: 1;
  width: 100%;
}
.btns-group--col {
  flex-direction: column;
}

/*----------  Header  ----------*/

header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-end: unset;
    @include responsive-screen(md) {
      .btn {
        display: none;
        opacity: 0;
      }
    }
  }

  position: relative;
  .header__menu__icon {
    font-size: 2rem;
  }

  /*----------  NavMenu  ----------*/

  .header__nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: var(--clr-green);
    padding: var(--spacing-md);
    z-index: var(--z-top);
    transform: scale(1, 0);
    opacity: 0;
    transform-origin: top center;

    transition: all 0.3s ease-in-out;
    &.show {
      transform: scale(1, 1);
      opacity: 1;
    }
    &__menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-md);
    }

    @include responsive-screen(md) {
      position: unset;
      padding: unset;
      background: transparent;
      transform: scale(1, 1);
      opacity: 1;
      transition: unset;

      .header__nav__menu {
        flex-direction: row;
      }
    }
  }
}

/*----------  PluginCard  ----------*/
.plugin-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
  box-shadow: var(--shadow--card);
  background: var(--clr-gray--light);
  border-radius: 6px;
  overflow: hidden;
  padding-top: var(--spacing-md);
  max-width: 340px;

  &__text {
    text-align: center;

    &--title {
      font-size: var(--fs-h1);

      margin-block-end: var(--spacing-sm);
    }
    &--description {
      line-height: 1.4;
      font-size: var(--fs-xs);
      padding-inline: var(--spacing-sm);
    }
  }
  &__icon {
    inline-size: 80px;
    block-size: 80px;
  }

  .btns-group {
    align-self: stretch;
    padding-inline: var(--spacing-sm);
    flex-wrap: wrap;
  }
  &__footer {
    background: var(--clr-green);
    width: 100%;
    text-align: center;
    color: var(--clr-white);
  }
}

/*----------  PluginCards  ----------*/
.plugins-cards {
  background: var(--clr-purple);
  .container {
    display: grid;
    gap: var(--spacing-md);
    place-items: center;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
  }
  &__title {
    grid-column: 1/-1;
    font-size: var(--fs-lg);
    font-weight: var(--fw-lg);
    color: var(--clr-white);
  }
}

/*----------  SocialsMenu  ----------*/
.footer__social-menu {
  display: inline-flex;
  gap: var(--spacing-sm);

  align-items: center;

  .nav__link {
    position: relative;
    isolation: isolate;
    display: inline-grid;
    grid-template-areas: 'icon';
    place-items: center;
    &:hover,
    :focus {
      svg {
        stroke: var(--clr-pink);
      }
    }
    svg {
      stroke: var(--clr-white);
      inline-size: 16px;
      block-size: 16px;
      grid-area: icon;
    }
    &::before {
      content: '';
      grid-area: icon;
      inline-size: 2rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background: var(--clr-gray--very-dark);
      filter: brightness(80%);
      z-index: var(--z-behind);
    }
  }
}

/*----------  Form  ----------*/
.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  width: 80%;
  caret-color: var(--clr-purple);
  &__input-container {
    position: relative;
    &.input-error {
      input,
      textarea {
        border-color: var(--clr-red);
      }
      .error {
        text-align-last: left;
        padding: var(--spacing-xs);
        color: var(--clr-red);
      }
    }
    label {
      position: absolute;
      top: var(--spacing-xs);
      left: var(--spacing-xs);
      text-transform: lowercase;
      color: var(--clr-gray--dark);
      font-size: var(--fs-sm);
      transition: transform 0.2s ease;
      pointer-events: none;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    input,
    textarea {
      width: 100%;
      border: 1px solid var(--clr-gray--very-dark);
      border-radius: 6px;
      padding: var(--spacing-xs);
      appearance: none;
      font-size: var(--fs-sm);

      &:not(:placeholder-shown) + label {
        background-color: var(--clr-white);
        font-size: var(--fs-xs);
        transform: translateY(calc(-1 * var(--fs-xs) - 0.2rem));
        color: var(--clr-gray--very-dark);
      }
      &:hover,
      &:focus {
        border-color: var(--clr-green);
        box-shadow: 0 0 0 1px var(--clr-green);
      }
    }
    textarea {
      height: 10ch;
      resize: none;
    }
  }
  .btn {
    align-self: center;
    width: 100%;
  }
}
/*=============================================
=            Blocks            =
=============================================*/

/*----------  Main  ----------*/

.main {
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    position: relative;
    @include responsive-screen(xs) {
      gap: var(--spacing-lg);
    }
  }
  &__plugin-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sm);
    svg {
      inline-size: 10vmin;
      block-size: 10vmin;
      min-inline-size: 48px;
      min-block-size: 48px;
    }
  }
  .btns-group--col {
    @include responsive-screen(xs) {
      flex-direction: row;
    }
  }

  &__text {
    text-align: center;
    &--title {
      svg:nth-of-type(1) {
        stroke: var(--clr-purple);
        margin-inline-end: -4px;
      }
      svg:nth-of-type(2) {
        fill: var(--clr-pink);
      }
      span {
        display: inline-block;
        &::first-letter {
          color: var(--clr-green);
        }
      }

      font-size: var(--fs-display--main);
      text-transform: unset;
      font-weight: var(--fw-xl);
      margin-block-end: var(--spacing-md);
    }
    &--subtitle {
      font-size: var(--fs-display--subtitle);
      color: var(--clr-gray--dark);
      font-weight: var(--fw-lg);
      span:nth-of-type(1) {
        color: var(--clr-purple);
      }
      span:nth-of-type(2) {
        color: var(--clr-pink);
      }
      span:nth-of-type(3) {
        color: var(--clr-green);
      }
    }
  }
}

/*----------  Return  ----------*/

.return {
  background: var(--clr-gray--light);
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: center;
    text-align: center;
  }
  &__title {
    font-size: var(--fs-lg);
    font-weight: var(--fw-lg);
    color: var(--clr-green);
  }
  &__text {
    line-height: 1.6;

    font-size: var(--fs-sm);
  }
  span {
    display: block;
    margin-block-start: var(--spacing-sm);
    font-weight: var(--fw-lg);
  }
  .nav__link {
    color: var(--clr-purple);
    font-weight: var(--fw-lg);
    font-size: var(--fs-md);
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
}

/*----------  NewIdea  ----------*/

.new-idea {
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: center;
    text-align: center;
    @include responsive-screen(md) {
      flex-direction: row;
      align-items: start;
      & > * {
        flex: 1;
      }
    }
  }
  img {
    max-width: 100%;
  }
  .new__idea__pre,
  .new-idea__form {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: var(--spacing-md);
  }
  &__title {
    font-size: var(--fs-lg);
    font-weight: var(--fw-lg);
    color: var(--clr-black);
  }
  &__subtitle {
    font-size: var(--fs-md);
    font-weight: var(--fw-lg);

    color: var(--clr-purple);
  }
}

/*----------  Footer  ----------*/

footer {
  background: var(--clr-gray--very-dark);
  .container {
    display: grid;
    gap: var(--spacing-md);
    @include responsive-screen(sm) {
      grid-template-columns: auto 1fr;
      justify-items: center;
    }
  }
  .footer__info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    &__rights,
    &__email {
      font-size: 0.8rem;
      color: var(--clr-white);
    }
  }

  .footer__menus {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-md);
  }
  .footer__menu {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    &__title {
      text-transform: capitalize;
      color: var(--clr-green);
      font-size: 1rem;
    }
    .nav__link {
      svg {
        block-size: 16px;
        inline-size: 16px;
      }
    }
  }
}
