/*=============================================
=            components            =
=============================================*/
/*----------  Container  ----------*/
.container {
  padding: var(--spacing-sm);
  margin: 0 auto;
  max-width: 1000px;
}

/*----------  NavLink  ----------*/
.nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-xs);
  text-transform: capitalize;
  font-weight: var(--fw-md);
}

.nav__link__icon--left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.nav__link.header__link {
  font-size: var(--fs-sm);
  color: var(--clr-white);
}

@media (min-width: 768px) {
  .nav__link.header__link {
    color: var(--clr-gray--very-dark);
  }
}

@media (min-width: 1440px) {
  .nav__link.header__link {
    color: var(--clr-gray--very-dark);
  }
}

.nav__link.header__link:hover, .nav__link.header__link:focus {
  color: var(--clr-pink);
}

.nav__link.header__link.active {
  color: var(--clr-purple);
}

.nav__link.footer__link {
  font-size: var(--fs-xs);
  color: var(--clr-white);
}

.nav__link.footer__link:hover, .nav__link.footer__link:focus {
  color: var(--clr-pink);
}

/*----------  Logo  ----------*/
.logo {
  max-inline-size: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-xs);
  font-size: var(--fs-md);
  font-weight: var(--fw-md);
  color: var(--clr-black);
}

.logo__text--light {
  color: var(--clr-white);
}

/*----------  Icon  ----------*/
/*----------  GifModal  ----------*/
.gif-modal {
  position: fixed;
  width: 90vw;
  max-width: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 6px;
  overflow: hidden;
  z-index: var(--z-modal);
}

.gif-modal img {
  max-width: 100%;
}

.gif-modal__header {
  background: var(--clr-green);
  width: 100%;
}

.gif-modal .btn {
  color: var(--clr-white);
}

.gif-modal__overlay {
  position: fixed;
  inset: 0;
  background: var(--clr-black);
  opacity: 0.9;
  z-index: var(--z-modal);
}

/*----------  Button  ----------*/
.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: var(--spacing-xs);
  border: 0;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--spacing-xs);
  max-inline-size: 200px;
}

.btn.btn__icon--right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.btn--primary {
  background: var(--clr-purple);
  color: var(--clr-white);
}

.btn--secondary {
  -webkit-box-shadow: inset 0 0 2px var(--clr-purple);
          box-shadow: inset 0 0 2px var(--clr-purple);
  color: var(--clr-purple);
}

/*----------  ButtonsGroup  ----------*/
.btns-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--spacing-sm);
}

.btns-group > .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.btns-group--col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*----------  Header  ----------*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--spacing-sm);
  position: relative;
  /*----------  NavMenu  ----------*/
}

header .header__menu__icon {
  font-size: 2rem;
}

header nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: var(--clr-green);
  padding: var(--spacing-md);
  z-index: var(--z-top);
}

header nav.large-screen {
  position: unset;
  padding: unset;
  background: transparent;
}

header nav.large-screen .header__nav__menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav .header__nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-md);
}

/*----------  PluginCard  ----------*/
.plugin-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-sm);
  -webkit-box-shadow: var(--shadow--card);
          box-shadow: var(--shadow--card);
  background: var(--clr-gray--light);
  border-radius: 6px;
  overflow: hidden;
  padding-top: var(--spacing-sm);
  max-width: 360px;
}

.plugin-card__icon {
  inline-size: 80px;
  block-size: 80px;
}

.plugin-card__title {
  font-size: 1rem;
}

.plugin-card__description {
  text-align: center;
  line-height: 1.4;
  font-size: var(--fs-xs);
  padding-inline: var(--spacing-sm);
}

.plugin-card .btns-group {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  padding-inline: var(--spacing-sm);
}

.plugin-card__footer {
  background: var(--clr-green);
  width: 100%;
  text-align: center;
  color: var(--clr-white);
}

/*----------  PluginCards  ----------*/
.plugins-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-md);
  place-items: center;
  background: var(--clr-purple);
  padding: var(--spacing-sm);
}

/*=============================================
=            Blocks            =
=============================================*/
/*----------  Main  ----------*/
main {
  padding: var(--spacing-sm);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing-md);
}

main svg:nth-of-type(1) {
  top: 60%;
  left: 4%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

main svg:nth-of-type(2) {
  top: 0;
  right: 10%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

main svg:nth-of-type(3) {
  top: 100%;
  right: 10%;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

main svg:nth-of-type(4) {
  top: 0;
  left: 5%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

main svg:nth-of-type(5) {
  top: 60%;
  right: 4%;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

main .main__icon {
  position: absolute;
  inline-size: 15vmin;
  block-size: 15vmin;
  z-index: var(--z-behind);
}

main .main__title {
  font-size: var(--fs-display);
  text-transform: capitalize;
  text-align: center;
  font-weight: var(--fw-xl);
}

main .main__subtitle {
  text-align: center;
  font-size: var(--fs-h2);
  color: var(--clr-gray--dark);
  font-weight: var(--fw-lg);
}

main .main__subtitle span:nth-of-type(1) {
  color: var(--clr-purple);
}

main .main__subtitle span:nth-of-type(2) {
  color: var(--clr-pink);
}

main .main__subtitle span:nth-of-type(3) {
  color: var(--clr-green);
}

/*----------  Return  ----------*/
.return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing-md);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: var(--spacing-sm);
  background: var(--clr-gray--light);
}

.return.btn {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

/*----------  NewIdea  ----------*/
.new-idea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing-md);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: var(--spacing-sm);
}

.new-idea.btn {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.new-idea__title {
  font-size: 1rem;
}

.new-idea__subtitle {
  font-size: 0.8rem;
  color: var(--clr-purple);
}

.new-idea__icon {
  inline-size: 80px;
  block-size: 80px;
}

/*----------  Footer  ----------*/
footer {
  background: var(--clr-gray--very-dark);
  padding: var(--spacing-sm);
  display: -ms-grid;
  display: grid;
  gap: var(--spacing-md);
}

footer .rights {
  font-size: 0.8rem;
  color: var(--clr-white);
}

footer .footer__social-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: var(--spacing-md);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__social-menu .nav__link {
  position: relative;
  isolation: isolate;
  display: -ms-inline-grid;
  display: inline-grid;
      grid-template-areas: 'icon';
  place-items: center;
}

footer .footer__social-menu .nav__link svg {
  stroke: var(--clr-white);
  inline-size: 24px;
  block-size: 24px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
}

footer .footer__social-menu .nav__link::before {
  content: '';
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
  inline-size: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--clr-gray--very-dark);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  z-index: var(--z-behind);
}

footer .footer__menu {
  display: -ms-grid;
  display: grid;
  place-items: start;
  gap: var(--spacing-sm);
}

footer .footer__menu__title {
  text-transform: capitalize;
  color: var(--clr-green);
  font-size: 1rem;
}

footer .footer__menu .nav__link svg {
  block-size: 16px;
  inline-size: 16px;
}
/*# sourceMappingURL=App.css.map */