.plugin {
  font-size: 10px;
  height: 500px;
  width: 300px;
  background: var(--clr-white);
  box-shadow: 0 0 0 0.5px var(--clr-black), var(--plugin-shadow-body);
  margin: 0 auto;
}
.plugin__top-bar {
  border-bottom: 1px solid var(--clr-black-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-xs);
  font-size: var(--plugin-fs-xl);
  text-transform: capitalize;
}
.plugin__top-bar .left-side {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xs);
}
.plugin__top-bar svg {
  block-size: 32px;
  inline-size: 32px;
  border-radius: 6px;
}

.plugin__body {
  font-size: var(--plugin-fs-lg);
  padding: var(--spacing-xs);
}
.plugin__body__edit-mode {
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
}
.plugin__body__edit-mode.active {
  color: var(--clr-red);
}
