.footer__menu {
  &__title {
    text-align: start;
    color: var(--clr-green);
    font-size: var(--fs-h3);
    margin-block-end: var(--spacing-sm);
  }
  .footer__menu__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    .nav__link {
      svg {
        block-size: 16px;
        inline-size: 16px;
      }
    }
  }
}
