/*----------  PluginCard  ----------*/
.plugin-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
  box-shadow: var(--shadow-card);
  background: var(--clr-gray--light);
  border-radius: 6px;
  overflow: hidden;
  padding-top: var(--spacing-md);
  max-width: 340px;
  flex: 1 1 100%;

  transition: all 0.2s ease-in-out;
  
  &:hover,
  &:focus {
    box-shadow: var(--shadow-card--hover);
    transform: scale(1.02);
  }

  &__text {
    text-align: center;
    flex: 1 0 auto;
    &--title {
      

      margin-block-end: var(--spacing-sm);
    }
    &--description {
      font-size: var(--fs-xs);
      line-height:1.3;
      padding-inline: var(--spacing-sm);
      -webkit-line-clamp: 5;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__icon { 
    block-size: 80px;
    inline-size:80px;
  }

  .btns-group {
    align-self: stretch;
    padding-inline: var(--spacing-sm);
    flex-wrap: wrap;
    .btn.disabled{
      display:none ;
      
    }
  }
 
  &__footer {
    background: var(--clr-green);
    width: 100%;
    text-align: center;
    color: var(--clr-white);
    .btn:disabled{
      display:none;
    }
  }
}
