.figma-window {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  isolation: isolate;
  transform: translateZ(0);
  @include responsive-screen(xl) {
    height: 925px;
  }
  .wrapper {
    max-height: calc(885px + 40px);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--plugin-clr-scrollbar) transparent;
    width: 100%;
    margin: 0 auto;
    @include responsive-screen(xl) {
      max-width: calc(1400px - 212px * 2);
    }
    &::-webkit-scrollbar {
      width: 16px;
      margin-right: 1rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      margin-top: 45px;
      background-clip: padding-box;
      border: 4px solid transparent;
      margin-bottom: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--plugin-clr-scrollbar);
      border-radius: 3rem;
      background-clip: padding-box;
      border: 4px solid transparent;
      &:hover {
        background-color: var(--clr-black-3);
      }
    }
  }
  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: var(--spacing-md) var(--spacing-sm);
    width: 100%;
    margin: 0 auto;
    @include responsive-screen(xl) {
      max-width: calc(1400px - 212px * 2);
      width: calc(100% + 16px);
    }
    @include containerBreakPoints(
      var(--spacing-md),
      var(--spacing-lg) var(--spacing-md),
      var(--spacing-lg),
      var(--spacing-lg),
      var(--spacing-xl) var(--spacing-md),
      var(--spacing-lg)
    );
    cursor: var(--svg-cursor-figma), pointer;

    @include responsive-screen(md) {
      flex-direction: row;
    }
    & > * {
      flex: 1 1 50%;
    }
  }
}
.figma-window__left,
.figma-window__right,
.figma-window__top {
  pointer-events: none;
  z-index: 1000;
}
.figma-window__left {
  display: none;
  position: absolute;
  left: 0;
  top: 37px;
  bottom: 0;
  width: 212px;
  img {
    width: 212px;
    height: 885px;
  }
}
.figma-window__top {
  height: 40px;
  max-height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
  }
}
.figma-window__right {
  display: none;
  position: absolute;
  right: 0;
  top: 37px;
  bottom: 0;
  width: 212px;
  img {
    width: 212px;
    height: 885px;
  }
}
.figma-window__left,
.figma-window__right {
  @include responsive-screen(xl) {
    display: unset;
  }
}
