.main {
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    position: relative;
    @include responsive-screen(xs) {
      gap: var(--spacing-lg);
    }
  }
  &__plugin-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sm);

    img {
      inline-size: 10vmin;
      block-size: 10vmin;
      min-inline-size: 48px;
      min-block-size: 48px;
      border-radius: 6px;
      @media (prefers-reduced-motion: no-preference) {
        animation: jumping 1s ease-in-out alternate infinite;
        //! change if number of plugins is being updated
        @for $i from 1 through 6 {
          &:nth-child(n + #{$i}) {
            animation: jumping 1s ease-in-out alternate infinite $i * 0.2s;
          }
        }
      }
    }
  }
  .btns-group--col {
    @include responsive-screen(xs) {
      flex-direction: row;
    }
  }

  &__text {
    text-align: center;
    &--title {
      svg:nth-of-type(1) {
        stroke: var(--clr-purple);
        margin-inline-end: -4px;
      }
      svg:nth-of-type(2) {
        fill: var(--clr-pink);
      }
      span {
        display: inline-block;
        &::first-letter {
          color: var(--clr-green);
        }
      }

      font-size: var(--fs-display--main);
      text-transform: unset;
      font-weight: var(--fw-xl);
      margin-block-end: var(--spacing-md);
    }
    &--subtitle {
      font-size: var(--fs-display--subtitle);
      color: var(--clr-gray--dark);
      font-weight: var(--fw-lg);
      span:nth-of-type(1) {
        color: var(--clr-purple);
      }
      span:nth-of-type(2) {
        color: var(--clr-pink);
      }
      span:nth-of-type(3) {
        color: var(--clr-green);
      }
    }
  }
}
