/*----------  NewIdea  ----------*/

.new-idea {
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    align-items: center;

    text-align: center;
    @include responsive-screen(md) {
      flex-direction: row-reverse;

      gap: var(--spacing-xl);
      & > * {
        flex: 1 1 50%;
      }
    }
  }

  .new__idea__pre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);

    img {
      max-width: 300px;
      filter: drop-shadow(var(--shadow-card--2));
    }
  }
  &__title {
    color: var(--clr-black);
    @include responsive-screen(md) {
      text-align: start;
    }
  }
  &__subtitle {
    color: var(--clr-purple);
    @include responsive-screen(md) {
      text-align: start;
    }
  }
}
