.plugin {
  display: none;
  @include responsive-screen(md) {
    display: block;
    position: fixed;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
  }
  @include responsive-screen(xl) {
    left: 25%;
  }

  z-index: 100;
  height: 380px;
  width: 250px;
  user-select: none;
  background: var(--clr-white);
  box-shadow: 0 0 0 0.5px var(--clr-black-15), var(--plugin-shadow-body);
  margin: 0 auto;
  cursor: default;
  transition: box-shadow 0.05s ease;
  &.moving {
    box-shadow: 0 0 0 0.5px var(--clr-black-15),
      var(--plugin-shadow-body-moving);
  }
  &__top-bar {
    border-bottom: 1px solid var(--clr-black-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-xs);
    font-size: var(--plugin-fs-xl);
    cursor: move;

    text-transform: capitalize;
    .left-side {
      display: inline-flex;
      align-items: center;
      gap: var(--spacing-xs);
    }
    img {
      block-size: 32px;
      inline-size: 32px;
      border-radius: 6px;
    }
  }
}
.plugin__body {
  font-size: var(--plugin-fs-lg);
  padding: var(--spacing-xs);
  &__edit-mode {
    display: inline-flex;
    align-items: center;
    text-transform: capitalize;
    &.active {
      color: var(--clr-red);
    }
  }
}
.duplicate {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  .btn {
    align-self: center;
    width: 100%;
    &:disabled {
      background: var(--clr-black-3);
      color: var(--clr-black-3);
    }
  }
  &__info {
    font-size: var(--plugin-fs-info);
  }
  &__checkboxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
  }
  label {
    font-size: var(--plugin-fs-label);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    color: var(--clr-black-8);
  }

  input[type='checkbox'] {
    appearance: none;
    block-size: 1rem;
    inline-size: 1rem;
    box-shadow: var(--plugin-shadow--states-sm) var(--clr-black);
    border-radius: var(--plugin-br-controls);
    flex-shrink: 0;
    display: grid;
    align-items: center;
    grid-template-areas: 'checkbox';

    position: relative;
  }
  input[type='checkbox']::before {
    content: '';
    grid-area: checkbox;
    place-items: center;
    background-image: var(--svg-on);
    background-position: center 80%;
    background-size: 80%;
    border-radius: var(--plugin-br-controls);
    block-size: 100%;
    inline-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.2s;
    opacity: 0;
  }
  input[type='checkbox']:checked::before {
    opacity: 1;
  }
  input[type='checkbox']:checked {
    background: var(--clr-blue);
    box-shadow: var(--plugin-shadow--states-sm) var(--clr-blue);
  }
  input[type='checkbox']:checked:disabled {
    background: var(--clr-black-3);
    box-shadow: var(--plugin-shadow--states-sm) var(--clr-black-3);
  }
  input[type='checkbox']:not(:checked):disabled {
    box-shadow: var(--plugin-shadow--states-sm) var(--clr-black-3);
  }
  input[type='checkbox']:not(:checked):is(:focus, :hover) {
    outline: 0;
    box-shadow: 0 0 0 2px var(--clr-blue);
  }
  input[type='checkbox']:checked:is(:focus, :hover) {
    outline: 0;
    box-shadow: 0 0 0 2px var(--clr-blue), inset 0 0 0 1px var(--clr-white);
  }
}
