/*----------  Return  ----------*/

.return {
  background: var(--clr-gray--light);
  position: relative;

  & > * {
    *::selection {
      background: var(--clr-selection);
      color: currentColor;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: center;
    word-break: break-word;
    word-wrap: break-word;

    &.add-borders > * {
      box-shadow: 0 0 0 2px var(--clr-red);
    }
    &.add-rotate > * {
      transform: rotateY(180deg);
    }
    @include responsive-screen(md) {
      text-align: start;
      align-items: flex-start;
      max-width: 50%;
    }
  }
  &__title {
    color: var(--clr-green);

    @include responsive-screen(md) {
      text-align: start;
      max-width: 100%;
    }
  }
  &__desc {
    line-height: 1.6;
    font-size: var(--fs-sm);
  }
  span {
    display: block;
    margin-block-start: var(--spacing-sm);
    font-weight: var(--fw-lg);
    pointer-events: none;
  }
  .nav__link {
    color: var(--clr-purple);
    font-weight: var(--fw-lg);
    font-size: var(--fs-md);

    &:hover,
    &:focus {
      filter: brightness(90%);
      svg {
        transform: scale(1.5) translateX(10px);
        transition: all 0.1s ease;
      }
    }
  }
}
.icons-group {
  position: absolute;
  z-index: var(--z-top);
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  .plugin-add-icon-16 {
    block-size: 16px;
    inline-size: 16px;
  }
  .plugin-add-icon-24 {
    block-size: 24px;
    inline-size: 24px;
  }
  .plugin-add-icon-32 {
    block-size: 32px;
    inline-size: 32px;
  }
  .plugin-add-icon-48 {
    block-size: 48px;
    inline-size: 48px;
  }
  .plugin-add-icon-64 {
    block-size: 64px;
    inline-size: 64px;
  }
}
