/*=============================================
=            css resets            =
=============================================*/

@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/animations';
@import './base/base';
@import './base/reset';
@import './base/typography';
@import './components/Button';
@import './components/Container';
@import './components/FooterMenu';
@import './components/NavLink';
@import './components/PluginCard';
@import './components/SocialMenu';
@import './components/Logo';
@import './components/GifModal';
@import './components/Header';
@import './components/NavMenu';
@import './components/PluginCards';
@import './components/ElementOverlay';
@import './components/Form';
@import './blocks/Return';
@import './blocks/Footer';
@import './blocks/Main';
@import './blocks/NewIdea';
@import './blocks/Separator';
@import './blocks/Plugin';
@import './blocks/FigmaWindow';

.arrows {
  position: relative;
  .multiplayer {
    z-index: 10;
  }
  .multiplayer-1 {
    --id: 1;
    position: absolute;

    top: 10%;
    left: 30%;
    animation: multiplayer 10s linear alternate infinite;
  }
  .multiplayer-2 {
    --id: 2;
    position: absolute;
    top: 20%;
    left: 80%;
    animation: multiplayer 10s linear alternate infinite;
  }
  .multiplayer-3 {
    --id: 2;
    position: absolute;
    top: 40%;
    left: 60%;
    animation: multiplayer 10s linear alternate infinite;
  }
  .multiplayer-4 {
    --id: 2;
    position: absolute;
    top: 60%;
    left: 70%;

    animation: multiplayer 10s linear alternate infinite;
  }
  .multiplayer-5 {
    --id: 2;
    position: absolute;
    top: 80%;
    left: 30%;
    animation: multiplayer 10s linear alternate infinite;
  }
}
@keyframes multiplayer {
  10% {
    transform: translate(calc(var(--id) * 20px), calc(var(--id) * 20px));
  }
  20% {
    transform: translate(-40px, -80px);
  }
  30% {
    transform: translate(120px, 60px);
  }
  40% {
    transform: translate(20px, 20px);
  }
  50% {
    transform: translate(20px, 20px);
  }
  80% {
    transform: translate(80px, -100px);
  }
  100% {
    transform: translate(20px, 20px);
  }
}
